# You can write the name of the file directly into the .gitignore file as in the example below:

secrets.txt

# You can also use 'wild cards' using the * symbol followed by the file extension
# which will remove all the files with that specific extention. For example,
# *.txt will include all the files with the .txt extension to the .gitignore file.